<div class="container-bureau">
    <a href="http://www.linkedin.com/in/mickael-s-925025187" target="_blank" class="icon-bureau" title="Linkedin">
        <img src="{{ asset('assets/pictures/icon/linkedin.png') }}" alt="linkedin logo">
        Linkedin
    </a>
    <a href="https://github.com/Mickael861" target="_blank" class="icon-bureau" title="GitHub">
        <img src="{{ asset('assets/pictures/icon/github.png') }}" alt="github logo">
        GitHub
    </a>
    <a href="https://twitter.com/i/lists/1631626056485556224" target="_blank" class="icon-bureau" title="Twitter">
        <img src="{{ asset('assets/pictures/icon/twitter.png') }}" alt="twitter logo">
        Twitter
    </a>
    <div class="icon-bureau" id="discord" data-discord="Mickael#7768" title="Discord">
        <img src="{{ asset('assets/pictures/icon/discord.png') }}" alt="discord logo">
        <span>Discord</span>
    </div>
    <a href="mailto:mickael.sayer.dev@gmail.com" class="icon-bureau" title="Gmail">
        <img src="{{ asset('assets/pictures/icon/gmail.png') }}" alt="Gmail logo">
        Gmail
    </a>
</div>

<div class="project">
    <a href="https://todo-note-cat.mickael-sayer-portfolio.fr/login" target="_blank" class="icon-bureau" title="Todolist avec trop de chat">
        <img src="{{ asset('assets/pictures/icon/kitty_save.png') }}" alt="Chat qui mange du poisson">
        TodoList
    </a>
</div>

<div class="icon-bureau corbeille">
    <img src="{{ asset('assets/pictures/icon/waste.png') }}" alt="poubelle logo">
    Corbeille
</div>
