<header>
    <div class="navbar">
        <div class="container-left">
            <div class="logo-windows">
                <img src="{{ asset('assets/pictures/windows-logo.png') }}" alt="Windows logo">
                Navigation
            </div>
    
            <div class="icon-app">
                <div class="separator">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <img src="{{ asset('assets/pictures/folder-windows.png') }}" alt="Windows logo">
                <img src="{{ asset('assets/pictures/internet-explorer.png') }}" alt="internet explorer logo">
                <img src="{{ asset('assets/pictures/chrome.png') }}" alt="chrome internet logo">
                <img src="{{ asset('assets/pictures/store.png') }}" alt="appStore logo">
            </div>
    
            <div class="menu-open">
                <div class="separator">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <img src="{{ asset('assets/pictures/office-worker.png') }}" alt="travailleur ordinateur logo">
                Présentation
            </div>
        </div>

        <div class="container-right">
            <div class="separator">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
            <div class="icon">
                <img src="{{ asset('assets/pictures/wifi-signal.png') }}" alt="wifi logo">
                <img src="{{ asset('assets/pictures/volume.png') }}" alt="volume logo">
                <img src="{{ asset('assets/pictures/battery.png') }}" alt="batterie logo">
            </div>
            <div class="horloge">
                <div class="heure"></div>
            </div>
        </div>
    </div>
</header>