<div class="nav-header">
    <div class="logo-pseudo"></div>
    <div class="pseudo">Mickael Sayer</div>
    <div class="btn-params">
        <img class="setting" src="{{ asset('assets/pictures/process-dark.png') }}" alt="Executer logo" title="Masquer le menu des applications">
        <img class="setting-2" src="{{ asset('assets/pictures/process-ligth.png') }}" alt="Executer logo" title="Afficher le menu des applications">
    </div>
    <div class="params">
        <div class="container-params">
            <div class="content-params">
                <div class="param-title">Applications</div>
                <img src="{{ asset('assets/pictures/chrome32.png') }}" alt="chrome internet logo">
                <img src="{{ asset('assets/pictures/gmail.png') }}" alt="gmail logo">
                <img src="{{ asset('assets/pictures/vlc.png') }}" alt="vlc logo">
                <img src="{{ asset('assets/pictures/store.png') }}" alt="appStore logo">
                <img src="{{ asset('assets/pictures/internet-explorer.png') }}" alt="internet explorer logo">
            </div>
            <div class="content-params">
                <div class="param-title">Dossiers</div>
                <img src="{{ asset('assets/pictures/folder-windows.png') }}" alt="dossier logo">
                <img src="{{ asset('assets/pictures/photo.png') }}" alt="dossier photo logo">
                <img src="{{ asset('assets/pictures/music-folder.png') }}" alt="dossier musique logo">
                <img src="{{ asset('assets/pictures/desktop.png') }}" alt="poste de travail logo">
                <img src="{{ asset('assets/pictures/computer.png') }}" alt="reseau logo">
            </div>
            <div class="content-params">
                <div class="param-title">Réseaux</div>
                <img src="{{ asset('assets/pictures/gear.png') }}" alt="configuration logo">
                <img src="{{ asset('assets/pictures/web-management.png') }}" alt="connexion logo">
                <img src="{{ asset('assets/pictures/freelance.png') }}" alt="configuratioon logo">
            </div>
            <div class="content-params">
                <div class="param-title">Recherches</div>
                <img src="{{ asset('assets/pictures/help-desk.png') }}" alt="support logo">
                <img src="{{ asset('assets/pictures/search.png') }}" alt="Recherche logo">
            </div>
        </div>
        <div class="params-close" title="Masquer le menu des applications">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</div>