<div class="sidebar-right">
    <div class="content-top">
        <div>
            <img src="{{ asset('assets/pictures/folder-windows.png') }}" alt="dossier logo">
            <span>Mes documents</span>
        </div>
        <div>
            <img src="{{ asset('assets/pictures/photo.png') }}" alt="dossier photo logo">
            <span>Mes images</span>
        </div>
        <div>
            <img src="{{ asset('assets/pictures/music-folder.png') }}" alt="dossier musique logo">
            <span>Ma musique</span>
        </div>
        <div>
            <img src="{{ asset('assets/pictures/desktop.png') }}" alt="poste de travail logo">
            <span>Poste de travail</span>
        </div>
        <div>
            <img src="{{ asset('assets/pictures/computer.png') }}" alt="reseau logo">
            <span>Favoris réseau</span>
        </div>
    </div>

    <div class="content-mid">
        <div>
            <img src="{{ asset('assets/pictures/gear.png') }}" alt="configuration logo">
            <span>Panneau de configuration</span>
        </div>
        <div>
            <img src="{{ asset('assets/pictures/web-management.png') }}" alt="connexion logo">
            <span>Connexions</span>
            <i class="fa-solid fa-caret-right arrow-connexion"></i>
        </div>
        <div>
            <img src="{{ asset('assets/pictures/freelance.png') }}" alt="configuratioon logo">
            <span>Configurer les programmes par défaut</span>
        </div>
    </div>

    <div class="content-bottom">
        <div>
            <img src="{{ asset('assets/pictures/help-desk.png') }}" alt="support logo">
            <span>Aide et support</span>
        </div>
        <div>
            <img src="{{ asset('assets/pictures/search.png') }}" alt="Recherche logo">
            <span>Recherche</span>
        </div>
        <div>
            <img src="{{ asset('assets/pictures/process.png') }}" alt="Executer logo">
            <span>Exécuter...</span>
        </div>
    </div>
</div>