<div class="container-folder film">
    <div class="container-film">
        <div title="Précédent" class="before-film inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i></div>
        <div class="slider-film">
            <div class="genre-film">Drame</div>

            <div class="list-film">
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=41011.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/8mile.jpg') }}" alt="Image film 8 mile">
                    <div class="title-film">8 mile</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=208041.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/americanSniper.jpg') }}" alt="Image film american sniper">
                    <div class="title-film">American sniper</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=35973.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/arretemoiSiTuPeux.jpg') }}" alt="Image film Arrête-moi si tu peux">
                    <div class="title-film">Arrête-moi si tu peux</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=228729.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/brainOfFire.jpg') }}" alt="Image film brain of fire">
                    <div class="title-film">Brain of fire</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=205450.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/cinquanteNuances.jpg') }}" alt="Image film cinquante nuances de grey">
                    <div class="title-film">Cinquante nuances de grey</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=259993.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/dompteVent.jpg') }}" alt="Image film le garçon qui dompta le vent">
                    <div class="title-film">Le garçon qui dompta le vent</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-film"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-film">
        <div title="Précédent" class="before-film inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i></div>
        <div class="slider-film">
            <div class="genre-film">Comédie</div>

            <div class="list-film">
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=49775.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/21JumpStreet.jpg') }}" alt="Image film 21 jump street">
                    <div class="title-film">21 jump street</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=247045.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/ascension.jpg') }}" alt="Image film l'ascension">
                    <div class="title-film">L'ascension</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=222512.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/babysitting.jpg') }}" alt="Image film babysitting">
                    <div class="title-film">Babysitting</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-film"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-film">
        <div title="Précédent" class="before-film inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i></div>
        <div class="slider-film">
            <div class="genre-film">Action</div>

            <div class="list-film">
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=57529.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/300.jpg') }}" alt="Image film 300">
                    <div class="title-film">300</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130438.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/antMan.jpg') }}" alt="Image film Ant-man">
                    <div class="title-film">Ant-man</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130440.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/avengers.jpg') }}" alt="Image film avengers">
                    <div class="title-film">Avengers</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=136557.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/captainAmerica.jpg') }}" alt="Image film Captain america">
                    <div class="title-film">Captain america</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=189702.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/chappie.jpg') }}" alt="Image film chappie">
                    <div class="title-film">Chappie</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=190918.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/django.jpg') }}" alt="Image film django unchained">
                    <div class="title-film">Django unchained</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130533.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/doctorStrange.jpg') }}" alt="Image film doctor strange">
                    <div class="title-film">Doctor strange</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-film"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-film">
        <div title="Précédent" class="before-film inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i></div>
        <div class="slider-film">
            <div class="genre-film">Epouvante-horreur</div>

            <div class="list-film">
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=201653.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/americanNightmare.jpg') }}" alt="Image film american nightmare">
                    <div class="title-film">American nightmare</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=222801.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/birdBox.jpg') }}" alt="Image film bird box">
                    <div class="title-film">Bird box</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=47281.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/detourMortel.jpg') }}" alt="Image film détour mortel">
                    <div class="title-film">Détour mortel</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=242734.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/doctorSleep.jpg') }}" alt="Image film doctor sleep">
                    <div class="title-film">Doctor sleep</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-film"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>
</div>