<div class="container-folder film">
    <div class="container-film">
        <div title="Précédent" class="before-film inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i></div>
        <div class="slider-film">
            <div class="genre-film">Drame</div>

            <div class="list-film">
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=41011.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/8mile.jpg') }}" alt="Image film 8 mile">
                    <div class="title-film">8 mile</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=208041.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/americanSniper.jpg') }}" alt="Image film american sniper">
                    <div class="title-film">American sniper</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=35973.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/arretemoiSiTuPeux.jpg') }}" alt="Image film Arrête-moi si tu peux">
                    <div class="title-film">Arrête-moi si tu peux</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=228729.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/brainOfFire.jpg') }}" alt="Image film brain of fire">
                    <div class="title-film">Brain of fire</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=205450.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/cinquanteNuances.jpg') }}" alt="Image film cinquante nuances de grey">
                    <div class="title-film">Cinquante nuances de grey</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=259993.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/dompteVent.jpg') }}" alt="Image film le garçon qui dompta le vent">
                    <div class="title-film">Le garçon qui dompta le vent</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=10568.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/forestGump.jpg') }}" alt="Image film forrest gump">
                    <div class="title-film">Forrest Gump</div>
                </a>
                
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=218759.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/fury.jpg') }}" alt="Image film fury">
                    <div class="title-film">Fury</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=258374.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/joker.jpg') }}" alt="Image film joker">
                    <div class="title-film">Joker</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=22779.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/ligneVerte.jpg') }}" alt="Image film la ligne verte">
                    <div class="title-film">La ligne verte</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=234023.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/mcdo.jpg') }}" alt="Image film le fondateur">
                    <div class="title-film">Le fondateur</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=54098.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/rechercheDuBonheur.jpg') }}" alt="Image film à la recherche du bonheur">
                    <div class="title-film">À la recherche du bonheur</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130769.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/septVies.jpg') }}" alt="Image film sept vies">
                    <div class="title-film">Sept vies</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=27770.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/seulAuMonde.jpg') }}" alt="Image film seul au monde">
                    <div class="title-film">Seul au monde</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=18598.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/soldatRyan.jpg') }}" alt="Image film il faut sauver le soldat ryan">
                    <div class="title-film">Il faut sauver le soldat Ryan</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=247440.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/tau.jpg') }}" alt="Image film tau">
                    <div class="title-film">Tau</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-film"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-film">
        <div title="Précédent" class="before-film inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i></div>
        <div class="slider-film">
            <div class="genre-film">Comédie</div>

            <div class="list-film">
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=49775.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/21JumpStreet.jpg') }}" alt="Image film 21 jump street">
                    <div class="title-film">21 jump street</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=247045.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/ascension.jpg') }}" alt="Image film l'ascension">
                    <div class="title-film">L'ascension</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=222512.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/babysitting.jpg') }}" alt="Image film babysitting">
                    <div class="title-film">Babysitting</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=448.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/retourVersFutur.jpg') }}" alt="Image film retour vers le futur">
                    <div class="title-film">Retour vers le futur</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=184152.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/sexEntreAmis.jpg') }}" alt="Image film sexe entre amis">
                    <div class="title-film">Sexe entre amis</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=131394.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/veryBadTrip.jpg') }}" alt="Image film very bad trip">
                    <div class="title-film">Very bad trip</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-film"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-film">
        <div title="Précédent" class="before-film inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i></div>
        <div class="slider-film">
            <div class="genre-film">Action</div>

            <div class="list-film">
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=57529.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/300.jpg') }}" alt="Image film 300">
                    <div class="title-film">300</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130438.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/antMan.jpg') }}" alt="Image film Ant-man">
                    <div class="title-film">Ant-man</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130440.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/avengers.jpg') }}" alt="Image film avengers">
                    <div class="title-film">Avengers</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=136557.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/captainAmerica.jpg') }}" alt="Image film Captain america">
                    <div class="title-film">Captain america</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=189702.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/chappie.jpg') }}" alt="Image film chappie">
                    <div class="title-film">Chappie</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=190918.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/django.jpg') }}" alt="Image film django unchained">
                    <div class="title-film">Django unchained</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130533.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/doctorStrange.jpg') }}" alt="Image film doctor strange">
                    <div class="title-film">Doctor strange</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=267389.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/extraction.jpg') }}" alt="Image film extraction">
                    <div class="title-film">Extraction</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=196604.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/gardiensGalaxie.jpg') }}" alt="Image film les gardiens de la galaxie">
                    <div class="title-film">Les gardiens de la galaxie</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=24944.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/gladiator.jpg') }}" alt="Image film gladiator">
                    <div class="title-film">Gladiator</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=105557.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/jeSuisUneLegende.jpg') }}" alt="Image film je suis une légende">
                    <div class="title-film">Je suis une légende</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=114653.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/jumper.jpg') }}" alt="Image film jumper">
                    <div class="title-film">Jumper</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=8488.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/jurassicParc.jpg') }}" alt="Image film jurassic park">
                    <div class="title-film">Jurassic park</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=140603.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/karateKid.jpg') }}" alt="Image film karate kid">
                    <div class="title-film">Karaté kid</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=47141.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/manOnFire.jpg') }}" alt="Image film man on fire">
                    <div class="title-film">Man on fire</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=19776.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/matrix.jpg') }}" alt="Image film matrix">
                    <div class="title-film">Matrix</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=10700.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/menInBlack.jpg') }}" alt="Image film men in black">
                    <div class="title-film">Men in black</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=34917.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/minorityReport.jpg') }}" alt="Image film minority report">
                    <div class="title-film">Minority report</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=236733.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/rampage.jpg') }}" alt="Image film rampage">
                    <div class="title-film">Rampage - hors de contrôle</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=229831.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/readyPlayerOne.jpg') }}" alt="Image film readu player one">
                    <div class="title-film">Ready player one</div>
                </a>
                
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=29007.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/spiderman.jpg') }}" alt="Image film spider-man">
                    <div class="title-film">Spider-man</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=144185.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/suicideSquad.jpg') }}" alt="Image film suicide squad">
                    <div class="title-film">Suicide Squad</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=251315.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/tenet.jpg') }}" alt="Image film tenet">
                    <div class="title-film">Tenet</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=129477.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/thor.jpg') }}" alt="Image film thor">
                    <div class="title-film">Thor</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=60502.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/transformers.jpg') }}" alt="Image film transformers">
                    <div class="title-film">Transformers</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=140631.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/worldWarZ.jpg') }}" alt="Image film world war z">
                    <div class="title-film">World war Z</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-film"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-film">
        <div title="Précédent" class="before-film inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i></div>
        <div class="slider-film">
            <div class="genre-film">Epouvante-horreur</div>

            <div class="list-film">
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=201653.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/americanNightmare.jpg') }}" alt="Image film american nightmare">
                    <div class="title-film">American nightmare</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=222801.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/birdBox.jpg') }}" alt="Image film bird box">
                    <div class="title-film">Bird box</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=47281.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/detourMortel.jpg') }}" alt="Image film détour mortel">
                    <div class="title-film">Détour mortel</div>
                </a>
    
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=242734.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/doctorSleep.jpg') }}" alt="Image film doctor sleep">
                    <div class="title-film">Doctor sleep</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=227834.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/grudge.jpg') }}" alt="Image film the grudge">
                    <div class="title-film">The grudge</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=238622.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/halloween.jpg') }}" alt="Image film halloween">
                    <div class="title-film">Halloween</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=237760.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/hauteherbes.jpg') }}" alt="Image film dans les hautes herbes">
                    <div class="title-film">Dans les hautes herbes</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=129473.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/invisibleMan.jpg') }}" alt="Image film invisible man">
                    <div class="title-film">Invisible man</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=111192.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/mirrors.jpg') }}" alt="Image film mirrors">
                    <div class="title-film">Mirrors</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=207060.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/momie.jpg') }}" alt="Image film la momie">
                    <div class="title-film">La momie</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=258016.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/platform.jpg') }}" alt="Image film la plateforme">
                    <div class="title-film">La plateforme</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=254612.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/sansUnBruit.jpg') }}" alt="Image film sans un bruit">
                    <div class="title-film">Sans un bruit</div>
                </a>
                
                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=240516.html" target="_blank" class="detail-film">
                    <img class="img-film" src="{{ asset('assets/pictures/netflix/film/split.jpg') }}" alt="Image film split">
                    <div class="title-film">Split</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-film"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>
</div>