<div class="container-folder netflix-loisirs film">
    <div class="container-netflix-loisirs">
        <div title="Précédent" class="before-netflix-loisirs inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
        <div class="slider-netflix-loisirs">
            <div class="genre-netflix-loisirs">Drame <span>(16 films)</span></div>

            <div class="list-netflix-loisirs">
                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=41011.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/8mile.jpg') }}"
                        alt="Image film 8 mile">
                    <div class="title-netflix-loisirs">8 mile</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=208041.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/americanSniper.jpg') }}"
                        alt="Image film american sniper">
                    <div class="title-netflix-loisirs">American sniper</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=35973.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/arreteMoiSiTuPeux.jpg') }}"
                        alt="Image film Arrête-moi si tu peux">
                    <div class="title-netflix-loisirs">Arrête-moi si tu peux</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=228729.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/brainOfFire.jpg') }}"
                        alt="Image film brain of fire">
                    <div class="title-netflix-loisirs">Brain of fire</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=205450.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/cinquanteNuances.jpg') }}"
                        alt="Image film cinquante nuances de grey">
                    <div class="title-netflix-loisirs">Cinquante nuances de grey</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=259993.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/dompteVent.jpg') }}"
                        alt="Image film le garçon qui dompta le vent">
                    <div class="title-netflix-loisirs">Le garçon qui dompta le vent</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=10568.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/forestGump.jpg') }}"
                        alt="Image film forrest gump">
                    <div class="title-netflix-loisirs">Forrest Gump</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=218759.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/fury.jpg') }}"
                        alt="Image film fury">
                    <div class="title-netflix-loisirs">Fury</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=258374.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/joker.jpg') }}"
                        alt="Image film joker">
                    <div class="title-netflix-loisirs">Joker</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=22779.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/ligneVerte.jpg') }}"
                        alt="Image film la ligne verte">
                    <div class="title-netflix-loisirs">La ligne verte</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=234023.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/mcdo.jpg') }}"
                        alt="Image film le fondateur">
                    <div class="title-netflix-loisirs">Le fondateur</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=54098.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/rechercheDuBonheur.jpg') }}"
                        alt="Image film à la recherche du bonheur">
                    <div class="title-netflix-loisirs">À la recherche du bonheur</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130769.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/septVies.jpg') }}"
                        alt="Image film sept vies">
                    <div class="title-netflix-loisirs">Sept vies</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=27770.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/seulAuMonde.jpg') }}"
                        alt="Image film seul au monde">
                    <div class="title-netflix-loisirs">Seul au monde</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=18598.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/soldatRyan.jpg') }}"
                        alt="Image film il faut sauver le soldat ryan">
                    <div class="title-netflix-loisirs">Il faut sauver le soldat Ryan</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=247440.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/tau.jpg') }}"
                        alt="Image film tau">
                    <div class="title-netflix-loisirs">Tau</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-netflix-loisirs"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-netflix-loisirs">
        <div title="Précédent" class="before-netflix-loisirs inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
        <div class="slider-netflix-loisirs">
            <div class="genre-netflix-loisirs">Comédie <span>(6 films)</span></div>

            <div class="list-netflix-loisirs">
                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=49775.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/21JumpStreet.jpg') }}"
                        alt="Image film 21 jump street">
                    <div class="title-netflix-loisirs">21 jump street</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=247045.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/ascension.jpg') }}"
                        alt="Image film l'ascension">
                    <div class="title-netflix-loisirs">L'ascension</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=222512.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/babySitting.jpg') }}"
                        alt="Image film babysitting">
                    <div class="title-netflix-loisirs">Babysitting</div>
                </a>

                <a title="Suivre le lien vers Allociné" href="https://www.allocine.fr/film/fichefilm_gen_cfilm=448.html"
                    target="_blank" class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/retourVersFutur.jpg') }}"
                        alt="Image film retour vers le futur">
                    <div class="title-netflix-loisirs">Retour vers le futur</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=184152.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/sexEntreAmis.jpg') }}"
                        alt="Image film sexe entre amis">
                    <div class="title-netflix-loisirs">Sexe entre amis</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=131394.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/veryBadTrip.jpg') }}"
                        alt="Image film very bad trip">
                    <div class="title-netflix-loisirs">Very bad trip</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-netflix-loisirs"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-netflix-loisirs">
        <div title="Précédent" class="before-netflix-loisirs inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
        <div class="slider-netflix-loisirs">
            <div class="genre-netflix-loisirs">Action <span>(26 films)</span></div>

            <div class="list-netflix-loisirs">
                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=57529.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/300.jpg') }}"
                        alt="Image film 300">
                    <div class="title-netflix-loisirs">300</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130438.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/antMan.jpg') }}"
                        alt="Image film Ant-man">
                    <div class="title-netflix-loisirs">Ant-man</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130440.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/avengers.jpg') }}"
                        alt="Image film avengers">
                    <div class="title-netflix-loisirs">Avengers</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=136557.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/captainAmerica.jpg') }}"
                        alt="Image film Captain america">
                    <div class="title-netflix-loisirs">Captain america</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=189702.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/chappie.jpg') }}"
                        alt="Image film chappie">
                    <div class="title-netflix-loisirs">Chappie</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=190918.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/django.jpg') }}"
                        alt="Image film django unchained">
                    <div class="title-netflix-loisirs">Django unchained</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=130533.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/doctorStrange.jpg') }}"
                        alt="Image film doctor strange">
                    <div class="title-netflix-loisirs">Doctor strange</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=267389.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/extraction.jpg') }}"
                        alt="Image film extraction">
                    <div class="title-netflix-loisirs">Extraction</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=196604.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/gardiensGalaxie.jpg') }}"
                        alt="Image film les gardiens de la galaxie">
                    <div class="title-netflix-loisirs">Les gardiens de la galaxie</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=24944.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/gladiator.jpg') }}"
                        alt="Image film gladiator">
                    <div class="title-netflix-loisirs">Gladiator</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=105557.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/jeSuisUneLegende.jpg') }}"
                        alt="Image film je suis une légende">
                    <div class="title-netflix-loisirs">Je suis une légende</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=114653.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/jumper.jpg') }}"
                        alt="Image film jumper">
                    <div class="title-netflix-loisirs">Jumper</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=8488.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/jurassicParc.jpg') }}"
                        alt="Image film jurassic park">
                    <div class="title-netflix-loisirs">Jurassic park</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=140603.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/karateKid.jpg') }}"
                        alt="Image film karate kid">
                    <div class="title-netflix-loisirs">Karaté kid</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=47141.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/manOnFire.jpg') }}"
                        alt="Image film man on fire">
                    <div class="title-netflix-loisirs">Man on fire</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=19776.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/matrix.jpg') }}"
                        alt="Image film matrix">
                    <div class="title-netflix-loisirs">Matrix</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=10700.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/menInBlack.jpg') }}"
                        alt="Image film men in black">
                    <div class="title-netflix-loisirs">Men in black</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=34917.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/minorityReport.jpg') }}"
                        alt="Image film minority report">
                    <div class="title-netflix-loisirs">Minority report</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=236733.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/rampage.jpg') }}"
                        alt="Image film rampage">
                    <div class="title-netflix-loisirs">Rampage - hors de contrôle</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=229831.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/readyplayerOne.jpg') }}"
                        alt="Image film readu player one">
                    <div class="title-netflix-loisirs">Ready player one</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=29007.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/spiderman.jpg') }}"
                        alt="Image film spider-man">
                    <div class="title-netflix-loisirs">Spider-man</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=144185.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/suicideSquad.jpg') }}"
                        alt="Image film suicide squad">
                    <div class="title-netflix-loisirs">Suicide Squad</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=251315.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/tenet.jpg') }}"
                        alt="Image film tenet">
                    <div class="title-netflix-loisirs">Tenet</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=129477.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/thor.jpg') }}"
                        alt="Image film thor">
                    <div class="title-netflix-loisirs">Thor</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=60502.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/transformers.jpg') }}"
                        alt="Image film transformers">
                    <div class="title-netflix-loisirs">Transformers</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=140631.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/worldWarZ.jpg') }}"
                        alt="Image film world war z">
                    <div class="title-netflix-loisirs">World war Z</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-netflix-loisirs"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-netflix-loisirs">
        <div title="Précédent" class="before-netflix-loisirs inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
        <div class="slider-netflix-loisirs">
            <div class="genre-netflix-loisirs">horreur <span>(13 films)</span></div>

            <div class="list-netflix-loisirs">
                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=201653.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/film/americanNightmare.jpg') }}"
                        alt="Image film american nightmare">
                    <div class="title-netflix-loisirs">American nightmare</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=222801.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/birdBox.jpg') }}"
                        alt="Image film bird box">
                    <div class="title-netflix-loisirs">Bird box</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=47281.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/detourMortel.jpg') }}"
                        alt="Image film détour mortel">
                    <div class="title-netflix-loisirs">Détour mortel</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=242734.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/doctorSleep.jpg') }}"
                        alt="Image film doctor sleep">
                    <div class="title-netflix-loisirs">Doctor sleep</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=227834.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/grudge.jpg') }}"
                        alt="Image film the grudge">
                    <div class="title-netflix-loisirs">The grudge</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=238622.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/halloween.jpg') }}"
                        alt="Image film halloween">
                    <div class="title-netflix-loisirs">Halloween</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=237760.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/hauteHerbes.jpg') }}"
                        alt="Image film dans les hautes herbes">
                    <div class="title-netflix-loisirs">Dans les hautes herbes</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=129473.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/invisibleMan.jpg') }}"
                        alt="Image film invisible man">
                    <div class="title-netflix-loisirs">Invisible man</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=111192.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/mirrors.jpg') }}"
                        alt="Image film mirrors">
                    <div class="title-netflix-loisirs">Mirrors</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=207060.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/momie.jpg') }}"
                        alt="Image film la momie">
                    <div class="title-netflix-loisirs">La momie</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=258016.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/platform.jpg') }}"
                        alt="Image film la plateforme">
                    <div class="title-netflix-loisirs">La plateforme</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=254612.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/sansUnBruit.jpg') }}"
                        alt="Image film sans un bruit">
                    <div class="title-netflix-loisirs">Sans un bruit</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/film/fichefilm_gen_cfilm=240516.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/film/split.jpg') }}"
                        alt="Image film split">
                    <div class="title-netflix-loisirs">Split</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-netflix-loisirs"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>
</div>
