<div class="container-folder netflix-loisirs serie">
    <div class="container-netflix-loisirs">
        <div title="Précédent" class="before-netflix-loisirs inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
        <div class="slider-netflix-loisirs">
            <div class="genre-netflix-loisirs">Drame <span>(21 séries)</span></div>

            <div class="list-netflix-loisirs">
                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=19941.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/13rw.jpg') }}"
                        alt="Image serie 13 reasons why">
                    <div class="title-netflix-loisirs">13 reasons why</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=11871.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/100.jpg') }}"
                        alt="Image serie the 100">
                    <div class="title-netflix-loisirs">The 100</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=10846.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/batesMotel.jpg') }}"
                        alt="Image serie bates motel">
                    <div class="title-netflix-loisirs">Bates motel</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=452.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/bones.jpg') }}"
                        alt="Image serie bones">
                    <div class="title-netflix-loisirs">Bones</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=3517.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/breakingBad.jpg') }}"
                        alt="Image serie breaking bad">
                    <div class="title-netflix-loisirs">Breaking bad</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=27411.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/dahmer.jpg') }}"
                        alt="Image serie dahmer">
                    <div class="title-netflix-loisirs">Dahmer</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=3004.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/dexter.jpg') }}"
                        alt="Image serie dexter">
                    <div class="title-netflix-loisirs">Dexter</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=7157.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/serie/gameOfThrones.jpg') }}"
                        alt="Image serie game of thrones">
                    <div class="title-netflix-loisirs">Game of thrones</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=18045.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/goodDoctor.jpg') }}"
                        alt="Image serie good doctor">
                    <div class="title-netflix-loisirs">Good doctor</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=10545.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/hannibal.jpg') }}"
                        alt="Image serie hannibal">
                    <div class="title-netflix-loisirs">Hannibal</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=24971.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/jeuDame.jpg') }}"
                        alt="Image serie le jeu de la dame">
                    <div class="title-netflix-loisirs">Le jeu de la dame</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=4073.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/lieToMe.jpg') }}"
                        alt="Image serie lie to me">
                    <div class="title-netflix-loisirs">Lie to me</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=19792.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/ozark.jpg') }}"
                        alt="Image serie ozark">
                    <div class="title-netflix-loisirs">Ozark</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=22917.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/rookie.jpg') }}"
                        alt="Image serie the rookie">
                    <div class="title-netflix-loisirs">The rookie</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=29898.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/squidGame.jpg') }}"
                        alt="Image serie squid game">
                    <div class="title-netflix-loisirs">Squid game</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=8210.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/teenWolf.jpg') }}"
                        alt="Image serie teen wolf">
                    <div class="title-netflix-loisirs">Teen wolf</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=22314.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/theRain.jpg') }}"
                        alt="Image serie the rain">
                    <div class="title-netflix-loisirs">The rain</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=24952.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/toTheLake.jpg') }}"
                        alt="Image serie to the lake">
                    <div class="title-netflix-loisirs">To the lake</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=10214.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/vikings.jpg') }}"
                        alt="Image serie vikings">
                    <div class="title-netflix-loisirs">Vikings</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=7330.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/walkingDead.jpg') }}"
                        alt="Image serie the walking dead">
                    <div class="title-netflix-loisirs">The walking dead</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=18897.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/you.jpg') }}"
                        alt="Image serie you">
                    <div class="title-netflix-loisirs">You</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-netflix-loisirs"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-netflix-loisirs">
        <div title="Précédent" class="before-netflix-loisirs inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
        <div class="slider-netflix-loisirs">
            <div class="genre-netflix-loisirs">Comédie <span>(8 séries)</span></div>

            <div class="list-netflix-loisirs">
                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=21143.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/atypical.jpg') }}"
                        alt="Image serie atypical">
                    <div class="title-netflix-loisirs">Atypical</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=3247.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/serie/bigBangTheory.jpg') }}"
                        alt="Image serie the big bang theory">
                    <div class="title-netflix-loisirs">The big bang theory</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=221.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/desperate.jpg') }}"
                        alt="Image serie desperate housewives">
                    <div class="title-netflix-loisirs">Desperate housewives</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=238.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/house.jpg') }}"
                        alt="Image serie house">
                    <div class="title-netflix-loisirs">Dr House</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=28487.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/mercredi.jpg') }}"
                        alt="Image serie mercredi">
                    <div class="title-netflix-loisirs">Mercredi</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=10368.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/orangeBlack.jpg') }}"
                        alt="Image serie orange is the new black">
                    <div class="title-netflix-loisirs">Orange is the new black</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=847.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/psych.jpg') }}"
                        alt="Image serie psych">
                    <div class="title-netflix-loisirs">Psych</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=21210.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/sheldon.jpg') }}"
                        alt="Image serie young sheldon">
                    <div class="title-netflix-loisirs">Young Sheldon</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-netflix-loisirs"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-netflix-loisirs">
        <div title="Précédent" class="before-netflix-loisirs inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
        <div class="slider-netflix-loisirs">
            <div class="genre-netflix-loisirs">Action <span>(5 séries)</span></div>

            <div class="list-netflix-loisirs">
                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=29127.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/arcane.jpg') }}"
                        alt="Image serie arcane">
                    <div class="title-netflix-loisirs">Arcane</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=22484.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/cobraKai.jpg') }}"
                        alt="Image serie cobra kai">
                    <div class="title-netflix-loisirs">Cobra kai</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=17050.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/daredevil.jpg') }}"
                        alt="Image serie daredevil">
                    <div class="title-netflix-loisirs">Daredevil</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=24172.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/loki.jpg') }}"
                        alt="Image serie loki">
                    <div class="title-netflix-loisirs">Loki</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=4528.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/sherlock.jpg') }}"
                        alt="Image serie sherlock holmes">
                    <div class="title-netflix-loisirs">Sherlock Holmes</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-netflix-loisirs"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>

    <div class="container-netflix-loisirs">
        <div title="Précédent" class="before-netflix-loisirs inactive"><i class="fa-solid fa-chevron-left fa-2xl"></i>
        </div>
        <div class="slider-netflix-loisirs">
            <div class="genre-netflix-loisirs">horreur <span>(5 séries)</span></div>

            <div class="list-netflix-loisirs">
                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=19156.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/serie/strangerThings.jpg') }}"
                        alt="Image série stranger things">
                    <div class="title-netflix-loisirs">Stranger Things</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=440.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/supernatural.jpg') }}"
                        alt="Image série supernatural">
                    <div class="title-netflix-loisirs">Supernatural</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=21978.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/haunting.jpg') }}"
                        alt="Image série the haunting of hill house">
                    <div class="title-netflix-loisirs">The haunting of hill house</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=10001.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs"
                        src="{{ asset('assets/pictures/netflix/serie/americanHorrorStory.jpg') }}"
                        alt="Image série american horror story">
                    <div class="title-netflix-loisirs">American horror story</div>
                </a>

                <a title="Suivre le lien vers Allociné"
                    href="https://www.allocine.fr/series/ficheserie_gen_cserie=9941.html" target="_blank"
                    class="detail-netflix-loisirs">
                    <img class="img-netflix-loisirs" src="{{ asset('assets/pictures/netflix/serie/grimm.jpg') }}"
                        alt="Image série grimm">
                    <div class="title-netflix-loisirs">Grimm</div>
                </a>
            </div>
        </div>
        <div title="Suivant" class="next-netflix-loisirs"><i class="fa-solid fa-chevron-right fa-2xl"></i></div>
    </div>
</div>
