<div class="container-folder steam">
    <a href="https://store.steampowered.com/app/361420/ASTRONEER/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/astroneer.jpg') }}" alt="Image jeu astroneer">
        </div>
        <div class="details-game">
            <div class="title-game">astroneer</div>
            <div class="type-game">Aventure, Indépendant</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/475550/Beholder/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/beholder.jpg') }}" alt="Image jeu beholder">
        </div>
        <div class="details-game">
            <div class="title-game">beholder</div>
            <div class="type-game">Aventure, Indépendant, Stratégie</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/49520/Borderlands_2/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/borderland.jpg') }}" alt="Image jeu borderland 2">
        </div>
        <div class="details-game">
            <div class="title-game">borderland 2</div>
            <div class="type-game">Action, RPG</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/564530/Pharaoh__Cleopatra/" title="Suivre le lien vers Steam"
        target="_blank" class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/cleopatra.jpg') }}" alt="Image jeu Cléopâtre et Pharaon">
        </div>
        <div class="details-game">
            <div class="title-game">Cléopâtre + Pharaon</div>
            <div class="type-game">Simulation, Stratégie</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/588650/Dead_Cells/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/deadcells.jpg') }}" alt="Image jeu dead cells">
        </div>
        <div class="details-game">
            <div class="title-game">dead cells</div>
            <div class="type-game">Action, Aventure, Indépendant</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/635200/Distrust_Polar_Survival/" title="Suivre le lien vers Steam"
        target="_blank" class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/distrust.jpg') }}" alt="Image jeu distrust">
        </div>
        <div class="details-game">
            <div class="title-game">distrust</div>
            <div class="type-game">Aventure, Indépendant, Stratégie</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/322330/Dont_Starve_Together/" title="Suivre le lien vers Steam"
        target="_blank" class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/dontstarve.jpg') }}" alt="Image jeu Don't Starve Together">
        </div>
        <div class="details-game">
            <div class="title-game">Don't Starve Together</div>
            <div class="type-game">Action, Aventure, Indépendant, RPG, Simulation, Stratégie</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/295110/Just_Survive/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/h1z1.jpg') }}" alt="Image jeu H1Z1 just survive">
        </div>
        <div class="details-game">
            <div class="title-game">H1Z1 Just Survive</div>
            <div class="type-game">Action, Aventure, Massivement multijoueur</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/250900/The_Binding_of_Isaac_Rebirth/" title="Suivre le lien vers Steam"
        target="_blank" class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/isaac.jpg') }}" alt="Image jeu The Binding of Isaac: Rebirth">
        </div>
        <div class="details-game">
            <div class="title-game">The Binding of Isaac: Rebirth</div>
            <div class="type-game">Action</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/550/Left_4_Dead_2/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/left4dead.jpg') }}" alt="Image jeu Left 4 Dead 2">
        </div>
        <div class="details-game">
            <div class="title-game">Left 4 Dead 2</div>
            <div class="type-game">Action</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/261570/Ori_and_the_Blind_Forest/" title="Suivre le lien vers Steam"
        target="_blank" class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/ori.jpg') }}" alt="Image jeu Ori and the Blind Forest">
        </div>
        <div class="details-game">
            <div class="title-game">Ori and the Blind Forest</div>
            <div class="type-game">Action</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/448510/Overcooked/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/overcooked.jpg') }}" alt="Image jeu Overcooked">
        </div>
        <div class="details-game">
            <div class="title-game">Overcooked</div>
            <div class="type-game">Action, Occasionnel, Indépendant, Simulation</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/457140/Oxygen_Not_Included/" title="Suivre le lien vers Steam"
        target="_blank" class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/oxygen.jpg') }}" alt="Image jeu Oxygen Not Included">
        </div>
        <div class="details-game">
            <div class="title-game">Oxygen Not Included</div>
            <div class="type-game">Indépendant, Simulation</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/593600/PixARK/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/pixark.jpg') }}" alt="Image jeu PixARK">
        </div>
        <div class="details-game">
            <div class="title-game">PixARK</div>
            <div class="type-game">Action, Aventure, Occasionnel, Massivement multijoueur, RPG, Stratégie</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/17390/SPORE/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/spore.jpg') }}" alt="Image jeu SPORE™">
        </div>
        <div class="details-game">
            <div class="title-game">SPORE™</div>
            <div class="type-game">Action, Aventure, Occasionnel, RPG, Simulation, Stratégie</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/996580/Spyro_Reignited_Trilogy/" title="Suivre le lien vers Steam"
        target="_blank" class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/spyro.jpg') }}" alt="Image jeu Spyro™ Reignited Trilogy">
        </div>
        <div class="details-game">
            <div class="title-game">Spyro™ Reignited Trilogy</div>
            <div class="type-game">Action, Aventure</div>
        </div>
    </a>

    <a href="https://store.steampowered.com/app/105600/Terraria/" title="Suivre le lien vers Steam" target="_blank"
        class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/steam/terraria.jpg') }}" alt="Image jeu Terraria">
        </div>
        <div class="details-game">
            <div class="title-game">Terraria</div>
            <div class="type-game">Action, Aventure, Indépendant, RPG</div>
        </div>
    </a>
    <div id="upToTop"></div>
</div>
