<div class="container-folder youtube">
    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/amixem.jpg') }}')"></div>
            <div class="profil-name">Amixem</div>youtube/
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@Amixem/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/baladeMental.jpg') }}')"></div>
            <div class="profil-name">Balade mental</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@BaladeMentale/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/chronikFiction.jpg') }}')"></div>
            <div class="profil-name">CHRONIK FICTION</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@ChronikFiction/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/poissonFecond.jpg') }}')"></div>
            <div class="profil-name">Conte Fécond</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@contefecond6003/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/cyprien.jpg') }}')"></div>
            <div class="profil-name">Cyprien</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@cyprien/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/docSeven.jpg') }}')"></div>
            <div class="profil-name">Doc Seven</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@DocSeven/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/nozman.jpg') }}')"></div>
            <div class="profil-name">Dr Nozman</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@DrNozman/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/gastronogeek.jpg') }}')"></div>
            <div class="profil-name">Gastronogeek</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@GASTRONOGEEK/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/grafikart.jpg') }}')"></div>
            <div class="profil-name">Grafikart.fr</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@grafikart/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/guillotin.jpg') }}')"></div>
            <div class="profil-name">Greg Guillotin</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@gregguillotin/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/inoxtag.jpg') }}')"></div>
            <div class="profil-name">Inoxtag</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@inoxtag9494/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/joyca.jpg') }}')"></div>
            <div class="profil-name">Joyca</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@Joyca/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/kurzgesagt.jpg') }}')"></div>
            <div class="profil-name">Kurzgesagt – In a Nutshell</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@kurzgesagt/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/jd.jpg') }}')"></div>
            <div class="profil-name">LE GRAND JD</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@legrandjd/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/mv.jpg') }}')"></div>
            <div class="profil-name">mistermv</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@monsieurmv/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/nouvelleTechno.jpg') }}')"></div>
            <div class="profil-name">Nouvelle Techno</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@NouvelleTechno/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/otTurorials.jpg') }}')"></div>
            <div class="profil-name">online Tutorials</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@OnlineTutorialsYT/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/laFrite.jpg') }}')"></div>
            <div class="profil-name">Seb</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@SEBFRIT/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/squeezie.jpg') }}')"></div>
            <div class="profil-name">SQUEEZIE</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@Squeezie/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/iciJapon.jpg') }}')"></div>
            <div class="profil-name">Tev - Ici Japon</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@IciJapon/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/trash.jpg') }}')"></div>
            <div class="profil-name">Trash</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@trash/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/dianxi.jpg') }}')"></div>
            <div class="profil-name">滇西小哥 Dianxi Xiaoge</div>
        </div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@dianxixiaoge/featured" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>
</div>