<div class="container-folder youtube">
    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/amixem.jpg') }}')"></div>
        <div class="profil-name">Amixem</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@Amixem/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/baladeMental.jpg') }}')"></div>
        <div class="profil-name">Balade mental</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@BaladeMentale/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/chronikFiction.jpg') }}')"></div>
        <div class="profil-name">Chronik Fiction</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@ChronikFiction/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/poissonFecond.jpg') }}')"></div>
        <div class="profil-name">Conte Fécond</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@contefecond6003/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/cyprien.jpg') }}')"></div>
        <div class="profil-name">Cyprien</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@cyprien/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/docSeven.jpg') }}')"></div>
        <div class="profil-name">Doc Seven</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@DocSeven/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/nozman.jpg') }}')"></div>
        <div class="profil-name">Dr Nozman</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@DrNozman/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/gastronogeek.jpg') }}')"></div>
        <div class="profil-name">Gastronogeek</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@GASTRONOGEEK/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/grafikart.jpg') }}')"></div>
        <div class="profil-name">Grafikart.fr</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@grafikart/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/guillotin.jpg') }}')"></div>
        <div class="profil-name">Greg Guillotin</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@gregguillotin/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/inoxtag.jpg') }}')"></div>
        <div class="profil-name">Inoxtag</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@inoxtag9494/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/joyca.jpg') }}')"></div>
        <div class="profil-name">Joyca</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@Joyca/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/kurzgesagt.jpg') }}')"></div>
        <div class="profil-name">Kurzgesagt – In a Nutshell</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@kurzgesagt/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/jd.jpg') }}')"></div>
        <div class="profil-name">LE GRAND JD</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@legrandjd/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/mv.jpg') }}')"></div>
        <div class="profil-name">mistermv</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@monsieurmv/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/nouvelleTechno.jpg') }}')"></div>
        <div class="profil-name">Nouvelle Techno</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@NouvelleTechno/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/otTurorials.jpg') }}')"></div>
        <div class="profil-name">online Tutorials</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@OnlineTutorialsYT/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/laFrite.jpg') }}')"></div>
        <div class="profil-name">Seb</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@SEBFRIT/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/squeezie.jpg') }}')"></div>
        <div class="profil-name">SQUEEZIE</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@Squeezie/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/iciJapon.jpg') }}')"></div>
        <div class="profil-name">Tev - Ici Japon</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@IciJapon/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/trash.jpg') }}')"></div>
        <div class="profil-name">Trash</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@trash/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>

    <div class="content-profil">
        <div class="profil-img" style="--url:url('{{ asset('assets/pictures/dianxi.jpg') }}')"></div>
        <div class="profil-name">滇西小哥 Dianxi Xiaoge</div>
        <div class="profil-link" title="Voir la chaîne">
            <a href="https://www.youtube.com/@dianxixiaoge/videos" target="_blank" >
                <i class="fa-solid fa-link fa-sm"></i>
                Suivre le lien 
            </a>
        </div>
    </div>
</div>