<div class="container-folder youtube">
    <a target="_blank" href="https://www.youtube.com/@Amixem/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/amixem.jpg') }}')"></div>
            <div class="profil-name">Amixem</div>
            <div class="profil-genre">Humour, vlog, divertissement</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@BaladeMentale/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/baladeMental.jpg') }}')"></div>
            <div class="profil-name">Balade mental</div>
            <div class="profil-genre">Vulgarisation scientifique</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@ChronikFiction/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/chronikFiction.jpg') }}')"></div>
            <div class="profil-name">CHRONIK FICTION</div>
            <div class="profil-genre">Cinéma, chronique web</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@contefecond6003/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/poissonFecond.jpg') }}')"></div>
            <div class="profil-name">Conte Fécond</div>
            <div class="profil-genre">Vidéos éducatives</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@cyprien/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/cyprien.jpg') }}')"></div>
            <div class="profil-name">Cyprien</div>
            <div class="profil-genre">Humour, vlog, divertissement</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@DocSeven/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/docSeven.jpg') }}')"></div>
            <div class="profil-name">Doc Seven</div>
            <div class="profil-genre">Vidéos éducatives, vlog</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@DrNozman/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/nozman.jpg') }}')"></div>
            <div class="profil-name">Dr Nozman</div>
            <div class="profil-genre">Vulgarisation scientifique</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@GASTRONOGEEK/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/gastronogeek.jpg') }}')"></div>
            <div class="profil-name">Gastronogeek</div>
            <div class="profil-genre">Cuisine, culture geek</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@grafikart/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/grafikart.jpg') }}')"></div>
            <div class="profil-name">Grafikart.fr</div>
            <div class="profil-genre">Développement web</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@gregguillotin/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/guillotin.jpg') }}')"></div>
            <div class="profil-name">Greg Guillotin</div>
            <div class="profil-genre">Caméra cachée, Parodie, Comédie</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@inoxtag9494/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/inoxtag.jpg') }}')"></div>
            <div class="profil-name">Inoxtag</div>
            <div class="profil-genre">Jeu vidéo, vidéos réactions</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@Joyca/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/joyca.jpg') }}')"></div>
            <div class="profil-name">Joyca</div>
            <div class="profil-genre">Musique, parodie, divertissement</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@Julien_Bobroff/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/julienBobroff.jpg') }}')"></div>
            <div class="profil-name">Julien Bobroff</div>
            <div class="profil-genre">Vulgarisation scientifique</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@kurzgesagt/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/kurzgesagt.jpg') }}')"></div>
            <div class="profil-name">Kurzgesagt – In a Nutshell</div>
            <div class="profil-genre">Vulgarisation scientifique</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@legrandjd/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/jd.jpg') }}')"></div>
            <div class="profil-name">LE GRAND JD</div>
            <div class="profil-genre">vlog, divertissement, horreur</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@monsieurmv/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/mv.jpg') }}')"></div>
            <div class="profil-name">mistermv</div>
            <div class="profil-genre">Humour, divertissement</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@NouvelleTechno/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/nouvelleTechno.jpg') }}')"></div>
            <div class="profil-name">Nouvelle Techno</div>
            <div class="profil-genre">Développement web</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@OnlineTutorialsYT/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/otTurorials.jpg') }}')"></div>
            <div class="profil-name">online Tutorials</div>
            <div class="profil-genre">Développement web</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@SEBFRIT/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/laFrite.jpg') }}')"></div>
            <div class="profil-name">Seb</div>
            <div class="profil-genre">Humour, vlog, divertissement</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@Squeezie/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/squeezie.jpg') }}')"></div>
            <div class="profil-name">SQUEEZIE</div>
            <div class="profil-genre">Humour, jeux vidéo, divertissement</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@IciJapon/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/iciJapon.jpg') }}')"></div>
            <div class="profil-name">Tev - Ici Japon</div>
            <div class="profil-genre">Humour, vlog, divertissement</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@trash/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/trash.jpg') }}')"></div>
            <div class="profil-name">Trash</div>
            <div class="profil-genre">Vulgarisation scientifique, histoire</div>
        </div>
    </a>

    <a target="_blank" href="https://www.youtube.com/@dianxixiaoge/featured" class="content-profil" title="Suivre le lien vers la chaîne YouTube">
        <div class="container-profil">
            <div class="profil-img" style="--url:url('{{ asset('assets/pictures/youtube/dianxi.jpg') }}')"></div>
            <div class="profil-name">滇西小哥 Dianxi Xiaoge</div>
            <div class="profil-genre">Cuisine</div>
        </div>
    </a>
</div>