<section class="windows section-presentation">
    <div class="windows-top">
        <div class="container-name">
            <div class="windows-name">
                <img src="{{ asset('assets/pictures/presentation.png') }}" alt="presentation logo">
                <div>Présentation</div>
            </div>
            <div class="windows-action">
                <div class="minus">
                    <span></span>
                </div>
                <div class="size">
                    <span class="extends"></span>
                    <span class="narrow active"></span>
                </div>
                <div class="close">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="content-menu">
            <ul class="windows-menu">
                <li>Fichier</li>
                <li>Edition</li>
                <li>Affichage</li>
                <li>Favoris</li>
                <li>Outils</li>
                <li>?</li>
            </ul>
            <img src="{{ asset('assets/pictures/windows-logo.png') }}" alt="Windows logo">
        </div>
        <div class="tools">
            <div class="arrrow-before">
                <i class="fa-solid fa-circle-arrow-left"></i>
                Précédent
            </div>
            <div class="arrrow-after">
                <i class="fa-solid fa-circle-arrow-right"></i>
            </div>
            <div class="search">
                <img src="{{ asset('assets/pictures/search.png') }}" alt="Recherche logo">
                Recherche
            </div>
            <div class="folder">
                <img src="{{ asset('assets/pictures/folder-windows.png') }}" alt="dossier logo">
                Dossiers
            </div>
            <div class="view-folders">
                <img src="{{ asset('assets/pictures/cells.png') }}" alt="rangement logo">
                <i class="fa-solid fa-sort-down"></i>
            </div>
        </div>
    </div>
    <div class="sidebar-left">
        <div class="container-sildebar-left">
            <div class="sidebar-left-title">
               <span>Gestion des fichiers</span>
                <div class="icon-slider-left active">
                    <i class="fa-solid fa-angles-up"></i>
                </div>
            </div>
            <ul>
                <li>
                    <img src="{{ asset('assets/pictures/add-folder.png') }}" alt="Ajout dossier logo">
                    Créer un nouveau dossier
                </li>
                <li>
                    <img src="{{ asset('assets/pictures/folder.png') }}" alt="Dossier internet logo">
                    Publier ce dossier sur le web
                </li>
                <li>
                    <img src="{{ asset('assets/pictures/cloud.png') }}" alt="partager dossier logo">
                    Partager ce dossier
                </li>
            </ul>
        </div>
        <div class="container-sildebar-left">
            <div class="sidebar-left-title">
                <span>Autres Emplacements</span>
                <div class="icon-slider-left active">
                    <i class="fa-solid fa-angles-up"></i>
                </div>
            </div>
            <ul>
                <li>
                    <img src="{{ asset('assets/pictures/online-test.png') }}" alt="bureau logo">
                    Bureau
                </li>
                <li>
                    <img src="{{ asset('assets/pictures/folder-windows.png') }}" alt="dossier logo">
                    Mes documents
                </li>
                <li>
                    <img src="{{ asset('assets/pictures/share.png') }}" alt="dossier partager logo">
                    Documents partagés
                </li>
                <li>
                    <img src="{{ asset('assets/pictures/desktop.png') }}" alt="poste de travail logo">
                    Poste de travail
                </li>
                <li>
                    <img src="{{ asset('assets/pictures/computer.png') }}" alt="reseau logo">
                    Favoris rérseau
                </li>
            </ul>
        </div>
        <div class="sidebar-left-title">
            <span>Details</span>
            <div class="icon-slider-left active">
                <i class="fa-solid fa-angles-up"></i>
            </div>
        </div>
    </div>
    <div class="content-section">
        
    </div>
</section>