<div class="sidebar-left">
    <div class="container-sildebar-left">
        <div class="sidebar-left-title">
            <span>Gestion des fichiers</span>
            <div class="icon-slider-left active" title="Masquer la liste">
                <i class="fa-solid fa-angles-up"></i>
            </div>
        </div>
        <ul>
            <li>
                <img src="{{ asset('assets/pictures/icon/add-folder.png') }}" alt="Ajout dossier logo">
                Créer un nouveau dossier
            </li>
            <li>
                <img src="{{ asset('assets/pictures/icon/folder.png') }}" alt="Dossier internet logo">
                Publier ce dossier sur le web
            </li>
            <li>
                <img src="{{ asset('assets/pictures/icon/cloud.png') }}" alt="partager dossier logo">
                Partager ce dossier
            </li>
        </ul>
    </div>
    <div class="container-sildebar-left">
        <div class="sidebar-left-title">
            <span>Autres Emplacements</span>
            <div class="icon-slider-left active" title="Masquer la liste">
                <i class="fa-solid fa-angles-up"></i>
            </div>
        </div>
        <ul>
            <li>
                <img src="{{ asset('assets/pictures/icon/online-test.png') }}" alt="bureau logo">
                Bureau
            </li>
            <li>
                <img src="{{ asset('assets/pictures/icon/folder-windows.png') }}" alt="dossier logo">
                Mes documents
            </li>
            <li>
                <img src="{{ asset('assets/pictures/icon/share.png') }}" alt="dossier partager logo">
                Documents partagés
            </li>
            <li>
                <img src="{{ asset('assets/pictures/icon/desktop.png') }}" alt="poste de travail logo">
                Poste de travail
            </li>
            <li>
                <img src="{{ asset('assets/pictures/icon/computer.png') }}" alt="reseau logo">
                Favoris rérseau
            </li>
        </ul>
    </div>
    <div class="sidebar-left-title">
        <span>Details</span>
        <div class="icon-slider-left active" title="Masquer la liste">
            <i class="fa-solid fa-angles-up"></i>
        </div>
    </div>
</div>
