<main>
    <div class="container-bureau">
        <div class="icon-bureau corbeille">
            <img src="{{ asset('assets/pictures/waste.png') }}" alt="poubelle logo">
            Corbeille
        </div>
        <a href="http://www.linkedin.com/in/mickael-s-925025187" target="_blank" class="icon-bureau" title="Linkedin">
            <img src="{{ asset('assets/pictures/linkedin.png') }}" alt="linkedin logo">
            Linkedin
        </a>
        <a href="https://github.com/Mickael861" target="_blank" class="icon-bureau" title="GitHub">
            <img src="{{ asset('assets/pictures/github.png') }}" alt="github logo">
            GitHub
        </a>
        <a href="https://twitter.com/i/lists/1631626056485556224" target="_blank" class="icon-bureau" title="Twitter">
            <img src="{{ asset('assets/pictures/twitter.png') }}" alt="twitter logo">
            Twitter
        </a>
        <div class="icon-bureau" id="discord" data-discord="Mickael#7768" title="Discord">
            <img src="{{ asset('assets/pictures/discord.png') }}" alt="discord logo">
            <span>Discord</span>
        </div>
        <a href="mailto:mickael.sayer.dev@gmail.com" class="icon-bureau" title="Gmail">
            <img src="{{ asset('assets/pictures/gmail.png') }}" alt="Gmail logo">
            Gmail
        </a>
    </div>

    <div class="gestion-app" title="Ouvrir le gestionnaire d'application">
        <div class="counter" title="Nombre d'applications ouvertes">0/5</div>
        <span>
            <i class="fa-solid fa-expand fa-sm"></i>
            <span>App</span>
        </span>
    </div>

    {% set sections = ['presentation', 'diplome', 'experience', 'langage', 'projet'] %}

    {% for section in sections %}
        {% include '/portfolio/__partials/main/section/' ~ section ~ '.html.twig' %}
    {% endfor %}
</main>