<main>
    <div class="icon-app-responsive">
        <div class="content-top">
            <div>
                <img src="/assets/pictures/folder-windows.png" alt="dossier logo">
                <img src="/assets/pictures/internet-explorer.png" alt="internet explorer logo">
                <img src="/assets/pictures/chrome.png" alt="chrome internet logo">
                <img src="/assets/pictures/store.png" alt="appStore logo">
            </div>
    
            <div>
                <img src="/assets/pictures/wifi-signal.png" alt="wifi logo">
                <img src="/assets/pictures/volume.png" alt="volume logo">
                <img src="/assets/pictures/battery.png" alt="batterie logo">
            </div>
        </div>
        <div class="content-app">
            <div class="nav-app">
                <ul>
                    <li title="Cliquez ici pour me découvrir" data-link="presentation">
                        <img src="/assets/pictures/presentation.png" alt="presentation logo">
                        <span>Présentation</span>
                    </li>
                    <li title="Cliquez ici pour voir mon diplôme" data-link="diplome">
                        <img src="/assets/pictures/graduation.png" alt="diplome logo">
                        <span>Diplôme</span>
                    </li>
                    <li title="Cliquez ici pour voir mes éxperiences" data-link="experience">
                        <img src="/assets/pictures/scientific.png" alt="experience logo">
                        <span>Expériences</span>
                    </li>
                    <li title="Cliquez ici pour voir mes langages" data-link="langage">
                        <img src="/assets/pictures/programming.png" alt="Informatique langage logo">
                        <span>Langages</span>
                    </li>
                    <li title="Cliquez ici pour voir mes projets" data-link="projet">
                        <img src="/assets/pictures/idea.png" alt="projet logo">
                        <span>Projets</span>
                    </li>
                </ul>
            </div>
            <div class="app">
                <div class="container-app" style="--title_app:'Applications'">
                    <div>
                        <img src="/assets/pictures/store.png" alt="appStore logo">
                    </div>
                    <div>
                        <img src="/assets/pictures/internet-explorer.png" alt="internet explorer logo">
                    </div>
                    <div>
                        <img src="/assets/pictures/chrome32.png" alt="chrome internet logo">
                    </div>
                    <div>
                        <img src="/assets/pictures/gmail.png" alt="gmail logo">
                    </div>
                    <div>
                        <img src="/assets/pictures/vlc.png" alt="vlc logo">
                    </div>
                </div>
                <div class="container-app" style="--title_app:'Dossiers'">
                        <div>
                            <img src="/assets/pictures/folder-windows.png" alt="dossier logo">
                        </div>
                        <div>
                            <img src="/assets/pictures/photo.png" alt="dossier photo logo">
                        </div>
                        <div>
                            <img src="/assets/pictures/music-folder.png" alt="dossier musique logo">
                        </div>
                        <div>
                            <img src="/assets/pictures/desktop.png" alt="poste de travail logo">
                        </div>
                        <div>
                            <img src="/assets/pictures/computer.png" alt="reseau logo">
                        </div>
                </div>
                <div class="container-app" style="--title_app:'Paramétres'">
                    <div>
                        <img src="/assets/pictures/gear.png" alt="configuration logo">
                    </div>
                    <div>
                        <img src="/assets/pictures/freelance.png" alt="configuratioon logo">
                    </div>
                    <div>
                        <img src="/assets/pictures/web-management.png" alt="connexion logo">
                    </div>
                </div>
                <div class="container-app" style="--title_app:'Gestion'">
                    <div>
                        <img src="/assets/pictures/help-desk.png" alt="support logo">
                    </div>
                    <div>
                        <img src="/assets/pictures/search.png" alt="Recherche logo">
                    </div>
                    <div>
                        <img src="/assets/pictures/process.png" alt="Executer logo">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="horloge-responsive">
        <div class="heure"></div>
    </div>

    <div class="container-bureau">
        <div class="icon-bureau corbeille">
            <img src="{{ asset('assets/pictures/waste.png') }}" alt="poubelle logo">
            Corbeille
        </div>
        <a href="http://www.linkedin.com/in/mickael-s-925025187" target="_blank" class="icon-bureau" title="Linkedin">
            <img src="{{ asset('assets/pictures/linkedin.png') }}" alt="linkedin logo">
            Linkedin
        </a>
        <a href="https://github.com/Mickael861" target="_blank" class="icon-bureau" title="GitHub">
            <img src="{{ asset('assets/pictures/github.png') }}" alt="github logo">
            GitHub
        </a>
        <a href="https://twitter.com/i/lists/1631626056485556224" target="_blank" class="icon-bureau" title="Twitter">
            <img src="{{ asset('assets/pictures/twitter.png') }}" alt="twitter logo">
            Twitter
        </a>
        <div class="icon-bureau" id="discord" data-discord="Mickael#7768" title="Discord">
            <img src="{{ asset('assets/pictures/discord.png') }}" alt="discord logo">
            <span>Discord</span>
        </div>
        <a href="mailto:mickael.sayer.dev@gmail.com" class="icon-bureau" title="Gmail">
            <img src="{{ asset('assets/pictures/gmail.png') }}" alt="Gmail logo">
            Gmail
        </a>
    </div>

    <div class="gestion-app" title="Cliquez ici pour voir les applications">
        <i class="fa-solid fa-expand fa-sm"></i>
        App
    </div>

    <div class="container-open-app">
        <div class="counter"></div>
        <div class="box-app">
            <span style="--i:0;" data-rotate="72" class="box"></span>
            <span style="--i:1;" data-rotate="180" class="box"></span>
            <span style="--i:2;" data-rotate="120" class="box"></span>
            <span style="--i:3;" data-rotate="90" class="box"></span>
            <span style="--i:4;" data-rotate="72" class="box"></span>
        </div>

        <div class="btn-rotate-left">
            <i class="fa-solid fa-chevron-left fa-xl" style="color: #0165B5;"></i>
        </div>
        <div class="btn-rotate-right">
            <i class="fa-solid fa-chevron-right fa-xl" style="color: #0165B5;"></i>
        </div>
    </div>

    {% set sections = ['presentation', 'diplome', 'experience', 'langage', 'projet'] %}

    {% for section in sections %}
        {% include '/portfolio/__partials/main/section/' ~ section ~ '.html.twig' %}
    {% endfor %}
</main>