<div class="container-right">
    <div class="separator">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="icon">
        <img src="{{ asset('assets/pictures/icon/wifi-signal.png') }}" alt="wifi logo">
        <img src="{{ asset('assets/pictures/icon/volume.png') }}" alt="volume logo">
        <img src="{{ asset('assets/pictures/icon/battery.png') }}" alt="batterie logo">
    </div>
    <div class="icon-black">
        <img src="{{ asset('assets/pictures/icon/wifi-signal-black.png') }}" alt="wifi logo">
        <img src="{{ asset('assets/pictures/icon/volume-black.png') }}" alt="volume logo">
        <img src="{{ asset('assets/pictures/icon/battery-black.png') }}" alt="batterie logo">
    </div>
    <div class="horloge">
        <div class="heure"></div>
    </div>
</div>
