<div class="container-left">
    <div class="logo-windows" title="Afficher le menu">
        <img src="{{ asset('assets/pictures/icon/windows-logo.png') }}" alt="Windows logo">
        <span>Navigation</span>
    </div>

    <div class="icon-app">
        <div class="separator">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <img src="{{ asset('assets/pictures/icon/folder-windows.png') }}" alt="dossier logo">
        <img src="{{ asset('assets/pictures/icon/internet-explorer.png') }}" alt="internet explorer logo">
        <img src="{{ asset('assets/pictures/icon/chrome.png') }}" alt="chrome internet logo">
        <img src="{{ asset('assets/pictures/icon/store.png') }}" alt="appStore logo">
    </div>

    <div class="icon-extends" title="Afficher les icônes cachées">
        <i class="fa-solid fa-caret-up fa-lg"></i>
    </div>

    <div class="icon-extends-right" title="Afficher les icônes cachées">
        <div class="separator">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <i class="fa-solid fa-caret-up fa-lg"></i>
    </div>

    <div class="container-task">
        <div class="separator">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        {% include "portfolio/__partials/navigation/parth/content-header-left/tasks.html.twig" %}
    </div>
</div>