<div class="container-left">
    <div class="logo-windows" title="Cliquez ici pour ouvrir le menu">
        <img src="{{ asset('assets/pictures/windows-logo.png') }}" alt="Windows logo">
        Navigation
    </div>

    <div class="icon-app">
        <div class="separator">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <img src="{{ asset('assets/pictures/folder-windows.png') }}" alt="dossier logo">
        <img src="{{ asset('assets/pictures/internet-explorer.png') }}" alt="internet explorer logo">
        <img src="{{ asset('assets/pictures/chrome.png') }}" alt="chrome internet logo">
        <img src="{{ asset('assets/pictures/store.png') }}" alt="appStore logo">
    </div>

    <div class="icon-extends">
        <i class="fa-solid fa-caret-up fa-lg"></i>
    </div>

    <div class="icon-extends-right">
        <div class="separator">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <i class="fa-solid fa-caret-up fa-lg"></i>
    </div>

    <div class="container-task">
        <div class="separator">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <div class="task" id="presentation">
            <div class="content-task">
                <img src="{{ asset('assets/pictures/presentation.png') }}" alt="presentation logo">
                Présentation
            </div>
        </div>
        <div class="task" id="diplome">
            <div class="content-task">
                <img src="{{ asset('assets/pictures/graduation.png') }}" alt="diplome logo">
                Diplôme
            </div>
        </div>
        <div class="task" id="experience">
            <div class="content-task">
                <img src="{{ asset('assets/pictures/scientific.png') }}" alt="experience logo">
                Experiences
            </div>
        </div>
        <div class="task" id="langage">
            <div class="content-task">
                <img src="{{ asset('assets/pictures/programming.png') }}" alt="langage logo">
                Langages
            </div>
        </div>
        <div class="task" id="projet">
            <div class="content-task">
                <img src="{{ asset('assets/pictures/idea.png') }}" alt="projet logo">
                Projets
            </div>
        </div>
    </div>
</div>