<div class="container-right">
    <div class="separator">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="icon">
        <img src="{{ asset('assets/pictures/wifi-signal.png') }}" alt="wifi logo">
        <img src="{{ asset('assets/pictures/volume.png') }}" alt="volume logo">
        <img src="{{ asset('assets/pictures/battery.png') }}" alt="batterie logo">
    </div>
    <div class="icon-black">
        <img src="{{ asset('assets/pictures/wifi-signal-black.png') }}" alt="wifi logo">
        <img src="{{ asset('assets/pictures/volume-black.png') }}" alt="volume logo">
        <img src="{{ asset('assets/pictures/battery-black.png') }}" alt="batterie logo">
    </div>
    <div class="horloge">
        <div class="heure"></div>
    </div>
</div>