<nav class="nav-link">
    <div class="nav-header">
        <div class="logo-pseudo"></div>
        <div class="pseudo">Mickael Sayer</div>
        <div class="btn-params" title="Ouvrir le menu des paramétres">
            <img class="setting" src="{{ asset('assets/pictures/process-dark.png') }}" alt="Executer logo">
            <img class="setting-2" src="{{ asset('assets/pictures/process-ligth.png') }}" alt="Executer logo">
        </div>
        <div class="params">
            <div class="container-params">
                <div class="content-params">
                    <div class="param-title">Applications</div>
                    <img src="{{ asset('assets/pictures/chrome32.png') }}" alt="chrome internet logo">
                    <img src="{{ asset('assets/pictures/gmail.png') }}" alt="gmail logo">
                    <img src="{{ asset('assets/pictures/vlc.png') }}" alt="vlc logo">
                </div>
                <div class="content-params">
                    <div class="param-title">Dossiers</div>
                    <img src="{{ asset('assets/pictures/folder-windows.png') }}" alt="dossier logo">
                    <img src="{{ asset('assets/pictures/photo.png') }}" alt="dossier photo logo">
                    <img src="{{ asset('assets/pictures/music-folder.png') }}" alt="dossier musique logo">
                    <img src="{{ asset('assets/pictures/desktop.png') }}" alt="poste de travail logo">
                    <img src="{{ asset('assets/pictures/computer.png') }}" alt="reseau logo">
                </div>
                <div class="content-params">
                    <div class="param-title">Réseaux</div>
                    <img src="{{ asset('assets/pictures/gear.png') }}" alt="configuration logo">
                    <img src="{{ asset('assets/pictures/web-management.png') }}" alt="connexion logo">
                    <img src="{{ asset('assets/pictures/freelance.png') }}" alt="configuratioon logo">
                </div>
                <div class="content-params">
                    <div class="param-title">Recherches</div>
                    <img src="{{ asset('assets/pictures/help-desk.png') }}" alt="support logo">
                    <img src="{{ asset('assets/pictures/search.png') }}" alt="Recherche logo">
                </div>
            </div>
            <div class="params-close" title="Fermer le menu des paramétres">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <div class="container-nav">
        <div class="sidebar-left">
            <div class="content-left">
                <div class="content-top">
                    <div>
                        <img src="{{ asset('assets/pictures/chrome32.png') }}" alt="chrome internet logo">
                        <div class="detail-content-top">
                            <span>Internet</span>
                            <span>Chrome</span>
                        </div>
                    </div>
                    <div>
                        <img src="{{ asset('assets/pictures/gmail.png') }}" alt="gmail logo">
                        <div class="detail-content-top">
                            <span>Courrier électronique</span>
                            <span>Gmail</span>
                        </div>
                    </div>
                    <div>
                        <img src="{{ asset('assets/pictures/vlc.png') }}" alt="vlc logo">
                        <div class="detail-content-top">
                            <span>Lecteur</span>
                            <span>VLC</span>
                        </div>
                    </div>
                </div>
                <ul>
                    <li title="Cliquez ici pour me découvrir" data-link="presentation">
                        <div class="content-presentation">
                            <img src="{{ asset('assets/pictures/presentation.png') }}" alt="presentation logo">
                            <span>Présentation</span>
                        </div>
                    </li>
                    <li title="Cliquez ici pour voir mon diplôme" data-link="diplome">
                        <div class="content-presentation">
                            <img src="{{ asset('assets/pictures/graduation.png') }}" alt="diplome logo">
                            <span>Diplôme</span>
                        </div>
                    </li>
                    <li title="Cliquez ici pour voir mes éxperiences" data-link="experience">
                        <div class="content-presentation">
                            <img src="{{ asset('assets/pictures/scientific.png') }}" alt="experience logo">
                            <span>Expériences</span>
                        </div>
                    </li>
                    <li title="Cliquez ici pour voir mes langages" data-link="langage">
                        <div class="content-presentation">
                            <img src="{{ asset('assets/pictures/programming.png') }}" alt="Informatique langage logo">
                            <span>Langages</span>
                        </div>
                    </li>
                    <li title="Cliquez ici pour voir mes projets" data-link="projet">
                        <div class="content-presentation">
                            <img src="{{ asset('assets/pictures/idea.png') }}" alt="projet logo">
                            <span>Projets</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="program">
                <span>T</span>ous les programmes
                <img src="{{ asset('assets/pictures/right.png') }}" alt="fléche droite logo">
            </div>
        </div>

        <div class="sidebar-right">
            <div class="content-top">
                <div>
                    <img src="{{ asset('assets/pictures/folder-windows.png') }}" alt="dossier logo">
                    <span>Mes documents</span>
                </div>
                <div>
                    <img src="{{ asset('assets/pictures/photo.png') }}" alt="dossier photo logo">
                    <span>Mes images</span>
                </div>
                <div>
                    <img src="{{ asset('assets/pictures/music-folder.png') }}" alt="dossier musique logo">
                    <span>Ma musique</span>
                </div>
                <div>
                    <img src="{{ asset('assets/pictures/desktop.png') }}" alt="poste de travail logo">
                    <span>Poste de travail</span>
                </div>
                <div>
                    <img src="{{ asset('assets/pictures/computer.png') }}" alt="reseau logo">
                    <span>Favoris réseau</span>
                </div>
            </div>
  
            <div class="content-mid">
                <div>
                    <img src="{{ asset('assets/pictures/gear.png') }}" alt="configuration logo">
                    <span>Panneau de configuration</span>
                </div>
                <div>
                    <img src="{{ asset('assets/pictures/web-management.png') }}" alt="connexion logo">
                    <span>Connexions</span>
                    <i class="fa-solid fa-caret-right arrow-connexion"></i>
                </div>
                <div>
                    <img src="{{ asset('assets/pictures/freelance.png') }}" alt="configuratioon logo">
                    <span>Configurer les programmes par défaut</span>
                </div>
            </div>

            <div class="content-bottom">
                <div>
                    <img src="{{ asset('assets/pictures/help-desk.png') }}" alt="support logo">
                    <span>Aide et support</span>
                </div>
                <div>
                    <img src="{{ asset('assets/pictures/search.png') }}" alt="Recherche logo">
                    <span>Recherche</span>
                </div>
                <div>
                    <img src="{{ asset('assets/pictures/process.png') }}" alt="Executer logo">
                    <span>Exécuter...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-footer">
        <div class="open-session" title="Fermer le menu">
            <img src="{{ asset('assets/pictures/key.png') }}" alt="Icone clef">
            <span>F</span>
            <span class="text">ermer la navigation</span>
        </div>
        <div class="close-computer">
            <img src="{{ asset('assets/pictures/exclamation.png') }}" alt="wifi logo">
            <span>Arrêter l'ordinateur</span>
        </div>
    </div>
</nav>