<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Portfolio Mickael Sayer{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/brands.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/solid.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/root.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/loading.css') }}">
    {% block stylesheets %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ asset('assets/scripts/loading.js') }}" defer></script>
    <script src="{{ asset('assets/scripts/base.js') }}" defer></script>
    {% block javascripts %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('assets/pictures/icon/favicon.ico') }}" />
</head>

{% include "portfolio/__partials/loading.html.twig" %}

{% block header %}
{% endblock %}


{% block body %}
{% endblock %}


{% block footer %}
{% endblock %}
</body>

</html>