<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GJ80X0QYFR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GJ80X0QYFR');
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Je suis Mickael Sayer, un développeur web junior spécialisé en PHP/Symfony, expert dans la création de sites dynamiques et réactifs. Explorez mon parcours, mes compétences et ma maîtrise de divers langages." />
    <title>{% block title %}Portfolio Mickael Sayer{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/all.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/brands.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome/css/solid.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/root.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/loading.css') }}">
    {% block stylesheets %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="{{ asset(get_path_file_js('loading', env)) }}" defer></script>
    <script src="{{ asset(get_path_file_js('base', env)) }}" defer></script>
    {% block javascripts %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>

<body>
    {% block header %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>

</html>
