{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'presentation' %}
{% set title = 'Présentation' %}
{% set img = 'presentation' %}

{% block windows_content %}

<div class="container-icon" data-link="mickael">
    <div class="icon-img mickael"></div>
    <div class="icon-title">mickael.jpg</div>
</div>

<div class="container-icon description" data-link="description">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/pencil.png') }}" alt="Photo de moi" class="bloc note logo">
    </div>
    <div class="icon-title">Description</div>
</div>

<div class="container-icon folder" data-link="loisirs">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/data-storage.png') }}" alt="dossier plein logo">
    </div>
    <div class="icon-title">Loisirs</div>
</div>

<div class="container-folder mickael">
    <img src="{{ asset('assets/pictures/freaks.jpg') }}" alt="Photo de moi" class="profil">
</div>

<div class="container-folder loisirs">
    <div class="container-icon" data-link="steam">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/steam.png') }}" alt="Steam logo">
        </div>
        <div class="icon-title">Steam</div>
    </div>

    <div class="container-icon" data-link="youtube">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/youtube.png') }}" alt="youtube logo">
        </div>
        <div class="icon-title">Youtube</div>
    </div>

    <div class="container-icon" data-link="netflix">
        <div class="icon-img">
            <img src="{{ asset('assets/pictures/netflix.png') }}" alt="netflix logo">
        </div>
        <div class="icon-title">Netflix</div>
    </div>
</div>

<div class="container-folder description">
    <h2>Description</h2>
    <ul>
        <li>Nom : Sayer</li>
        <li>Prénom : Mickael</li>
        <li>Date de naissance : 19 mars 1991</li>
        <li>Âge : 32 ans</li>
        <li>Ville : Châtellerault</li>
        <li>métier: Développeur web PHP / Symfony</li>
        <li>Diplôme : Développeur d'application PHP / Symfony</li>
        <li>Expériences : 2 ans</li>
        <li>Entreprise : Vialtic.com</li>
        <li class="paragraphe">
            Grâce à mes deux années d'alternance, j'ai eu l'opportunité d'acquérir de l'expérience
            dans le développement web avec PHP et Symfony.
            Je suis désormais à la recherche de nouveaux défis professionnels pour continuer à développer mes
            compétences et contribuer à des projets innovants dans le domaine du développement web.
        </li>
    </ul>
</div>

<div class="container-folder steam">
    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/astroneer.jpg') }}" alt="Image jeu astroneer">
        </div>
        <div class="details-game">
            <div class="title-game">astroneer</div>
            <div class="type-game">Aventure, Indépendant</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/beholder.jpg') }}" alt="Image jeu beholder">
        </div>
        <div class="details-game">
            <div class="title-game">beholder</div>
            <div class="type-game">Aventure, Indépendant, Stratégie</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/borderland.jpg') }}" alt="Image jeu borderland 2">
        </div>
        <div class="details-game">
            <div class="title-game">borderland 2</div>
            <div class="type-game">Action, RPG</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/cleopatra.jpg') }}" alt="Image jeu Cléopâtre et Pharaon">
        </div>
        <div class="details-game">
            <div class="title-game">Cléopâtre + Pharaon</div>
            <div class="type-game">Simulation, Stratégie</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/deadcells.jpg') }}" alt="Image jeu dead cells">
        </div>
        <div class="details-game">
            <div class="title-game">dead cells</div>
            <div class="type-game">Action, Aventure, Indépendant</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/distrust.jpg') }}" alt="Image jeu distrust">
        </div>
        <div class="details-game">
            <div class="title-game">distrust</div>
            <div class="type-game">Aventure, Indépendant, Stratégie</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/dontstarve.jpg') }}" alt="Image jeu Don't Starve Together">
        </div>
        <div class="details-game">
            <div class="title-game">Don't Starve Together</div>
            <div class="type-game">Action, Aventure, Indépendant, RPG, Simulation, Stratégie</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/h1z1.jpg') }}" alt="Image jeu H1Z1 just survive">
        </div>
        <div class="details-game">
            <div class="title-game">H1Z1 Just Survive</div>
            <div class="type-game">Action, Aventure, Massivement multijoueur</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/isaac.jpg') }}" alt="Image jeu The Binding of Isaac: Rebirth">
        </div>
        <div class="details-game">
            <div class="title-game">The Binding of Isaac: Rebirth</div>
            <div class="type-game">Action</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/left4dead.jpg') }}" alt="Image jeu Left 4 Dead 2">
        </div>
        <div class="details-game">
            <div class="title-game">Left 4 Dead 2</div>
            <div class="type-game">Action</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/ori.jpg') }}" alt="Image jeu Ori and the Blind Forest">
        </div>
        <div class="details-game">
            <div class="title-game">Ori and the Blind Forest</div>
            <div class="type-game">Action</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/overcooked.jpg') }}" alt="Image jeu Overcooked">
        </div>
        <div class="details-game">
            <div class="title-game">Overcooked</div>
            <div class="type-game">Action, Occasionnel, Indépendant, Simulation</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/oxygen.jpg') }}" alt="Image jeu Oxygen Not Included">
        </div>
        <div class="details-game">
            <div class="title-game">Oxygen Not Included</div>
            <div class="type-game">Indépendant, Simulation</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/pixark.jpg') }}" alt="Image jeu PixARK">
        </div>
        <div class="details-game">
            <div class="title-game">PixARK</div>
            <div class="type-game">Action, Aventure, Occasionnel, Massivement multijoueur, RPG, Stratégie</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/spore.jpg') }}" alt="Image jeu SPORE™">
        </div>
        <div class="details-game">
            <div class="title-game">SPORE™</div>
            <div class="type-game">Action, Aventure, Occasionnel, RPG, Simulation, Stratégie</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/spyro.jpg') }}" alt="Image jeu Spyro™ Reignited Trilogy">
        </div>
        <div class="details-game">
            <div class="title-game">Spyro™ Reignited Trilogy</div>
            <div class="type-game">Action, Aventure</div>
        </div>
    </div>

    <div class="container-game">
        <div class="img-game">
            <img src="{{ asset('assets/pictures/terraria.jpg') }}" alt="Image jeu Terraria">
        </div>
        <div class="details-game">
            <div class="title-game">Terraria</div>
            <div class="type-game">Action, Aventure, Indépendant, RPG</div>
        </div>
    </div>
</div>

{% endblock windows_content %}