{% extends "portfolio/__partials/main/windows.html.twig" %}

{% set name = 'presentation' %}
{% set title = 'Présentation' %}
{% set img = 'presentation' %}

{% block windows_content %}

<div class="container-icon" data-link="mickael" title="Une photo de moi">
    <div class="icon-img mickael"></div>
    <div class="icon-title">
        <h2>Mickael.jpg</h2>
    </div>
</div>

<div class="container-icon description" data-link="description" title="Une description rapide">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/pencil.png') }}" alt="Photo de moi">
    </div>
    <div class="icon-title">
        <h2>Description</h2>
    </div>
</div>

<a href="{{ asset('assets/pictures/pdf/curriculum_vitae.pdf') }}" download="sayer-mickael-curriculum-vitæ.pdf"
    class="container-icon curriculum" data-link="curriculum" title="Télécharger mon curriculum vitæ">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/pdf.png') }}" alt="Logo Curriculum vitæ">
    </div>
    <div class="icon-title">
        <h2>Curriculum vitæ</h2>
    </div>
</a>

<div class="container-icon folder" data-link="loisirs" title="Ce que je fais pendant mon temps libre">
    <div class="icon-img">
        <img src="{{ asset('assets/pictures/icon/data-storage.png') }}" alt="dossier plein logo">
    </div>
    <div class="icon-title">
        <h2>Loisirs</h2>
    </div>
</div>

<div class="container-folder mickael">
    <img src="{{ asset('assets/pictures/icon/Freaks.jpg') }}" alt="Photo de moi" class="profil">
</div>

{% include "portfolio/__partials/main/section/presentation/parth/loisirs.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/description.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/steam.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/youtube.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/netflix.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/film.html.twig" %}
{% include "portfolio/__partials/main/section/presentation/parth/serie.html.twig" %}

{% endblock windows_content %}